{% extends 'candidate/base_forgot.html'%}

{% block content %}
<script type="text/javascript">
		function validation()
		{
			var alpha=/^[a-zA-Z]+$/;
			var num=/^[0-9]+$/;

			//var alphanum=/^(?=.*[a-zA-Z])(?=.*[0-9])/; //atleast one digit

			var email=/^[\w\-\.\+]+\@[a-z A-Z 0-9\.\-]+\.[a-z A-Z 0-9]{2,4}$/;

			var name=document.forgotpswd.fname;
			var dob=document.forgotpswd.dob;
            var mob=document.forgotpswd.mobile;
            var mail=document.forgotpswd.email;
            var uname=document.forgotpswd.uname;



			if(name.value.length==0)
			{
				alert("Please Enter your  name ");
				name.focus();
				return false;
			}
			else if(!name.value.match(alpha))
			{
				alert("invalid name");
				name.focus();
				return false;
			}
			if(dob.value.length==0)
			{
				alert("Please Enter your  Date of Birth");
			    dob.focus();
				return false;
			}
			if(mob.value.length==0)
			{
				alert("Please Enter your   Mobile");
			    mob.focus();
				return false;
			}
			else if(!mob.value.match(num))
			{
				alert("mobile number contaion only digits");
				mob.focus();
				return false;
			}
			else if((mob.value.length<10)||(mob.value.length>10))
			{
				alert("Mobile Number contain length 10");
				mob.focus();
				return false;
			}
			if(mail.value.length==0)
			{
				alert("Please Enter your   Email");
			    mail.focus();
				return false;
			}
			else if(!mail.value.match(email))
			{
				alert("invalid Email");
				mail.focus();
				return false;
			}
			if(uname.value.length==0)
			{
				alert("Please Enter your Username");
				uname.focus();
				return false;
			}
			else
			{
			return true;
			}
		}
</script>

<div class="col-12 col-lg-6">
                    <div class="contact-form-area mb-100">
<h3>FORGOT <span>PASSWORD</span><br></h3>
<form method="post" name="forgotpswd" action="{% url 'candidate_forgot_password_action' %}" enctype="multipart/form-data">
{% csrf_token %}

Name:<input type="text" name="fname" class="form-control" style="height:50px" >
Date of Birth:<input type="date" name="dob" class="form-control" style="height:50px">
Mobile:<input type="text" name="mobile" class="form-control" style="height:50px">
Email ID:<input type="email" name="email" class="form-control" style="height:50px">

Username:<input type="text" name="uname" class="form-control" style="height:50px">
<input type="submit" value="NEXT" class="btn cryptos-btn btn-2 mt-30" onclick="return validation()">
    {% if msg %}
    {{msg}}
    {% endif %}
</form>
</div>
</div>
{% endblock %}