{% extends 'candidate/view_base.html'%}

{% block content %}
<h3>ELECTION <span>DETAILS</span><br></h3>
<table border="2" cellpadding="5px" cellspacing="5px">
{% if data %}
    <tr>
        <th>Election Name</th>



     <th>State</th>
        
     <th>District</th>
         
     <th>Landmark</th>
   
     <th>Assembly</th>

    
        <th>Declaration Date</th>

  

     <th>Nomination Submission Date</th>

   
     <th>Nomination Withdraw Date</th>

  
     <th>Campine Starting Date</th>

   
     <th> Campine Ending Date</th>


   
     <th>Election Date</th>

    
     <th>Result Date</th>
    </tr>
    {% for v in data %}
<tr>
     <td>{{v.election_name}}</td>

    <td>{{v.stateid.state}}</td>
	 
    <td>{{v.district.district}}</td>
	 
    <td>{{v.landmark.place}}</td>
	 
    <td>{{v.assembly.assemblyname}}</td>
    <td>{{v.declarationdate}}</td>
   
    <td>{{v.nominationsubmissiondate}}</td>
  
    <td>{{v.nominationwithdrawdate}}</td>
   
    <td>{{v.campinestartingdate}}</td>
  
    <td>{{v.campineendingdate}}</td>
  
    <td>{{v.electiondate}}</td>
  
  
    <td>{{v.resultdate}}</td>
   
   
</tr>
{% endfor %}
    {% else %}
    list is empty
    {% endif %}
</table>
{% endblock %}
