{% extends 'admin/view_base.html'%}

{% block content %}
<div class="col-12 col-lg-6">
                    <div class="contact-form-area mb-100">
<h3>CANDIDATE <span>DETAILS</span><br></h3>

<form method="post" action="{% url 'managecandidate' %}" enctype="multipart/form-data">
    {% csrf_token %}
<table border="2" cellpadding="15px" cellspacing="15px">
{% if adhar %}

    {% for v in adhar %}

<input type="hidden" name="hdnid" value="{{candidateregid}}" />

    <tr> <th>Firstname:</th><td>{{v.candidateregisterid.firstname}}</td></tr>
    <tr><th>Lastname:</th><td>{{v.candidateregisterid.lastname}}</td></tr>
    <tr><th>Address:</th><td>{{v.candidateregisterid.address}}</td></tr>
  <tr><th>Gender:</th><td>{{v.candidateregisterid.gender}}</td></tr>
  <tr><th>Date of Birth:</th><td>{{v.candidateregisterid.dateofbirth}}</td></tr>
        <tr><th>Adhar No:</th><td>{{v.candidateregisterid.adharno}}</td></tr>
        <tr><th>Voter ID No:</th><td>{{v.candidateregisterid.voterid}}</td></tr>
        <tr><th>Email:</th><td>{{v.candidateregisterid.email}}</td></tr>
        <tr><th>Mobile:</th><td>{{v.candidateregisterid.mobile}}</td></tr>
		  <tr><th>Location</th><td>{{v.candidateregisterid.place.place}}</td></tr>
    <tr><th>Party</th><td>{{v.candidateregisterid.partyid.partyname}}</td></tr>
    <tr><th>Assembly</th><td>{{v.candidateregisterid.assemblyname.assemblyname}}</td></tr>


    <tr><th>Adhar Copy</th><td><img src="{{v.adhar.url}}" alt="image" length="150px" width="155px"/> </td></tr>



    <tr> <th>Symbol</th> <td><img src="{{symbol.symbol.url}}" alt="image" length="150px" width="155px"/> </td> </tr>

    {% endfor%}

    {% for v in voterid %}
    <tr><th>Voter ID Copy</th>  <td><img src="{{v.voteridcopy.url}}" alt="image" length="150px" width="155px"/> </td> </tr>
        {% endfor%}

    {% for v in photo %}
    <tr> <th>Photo</th> <td><img src="{{v.photo.url}}" alt="image" length="150px" width="155px"/> </td> </tr>
    {% endfor%}

</table>
    <br><br>
    <h3>CANDIDATE <span>PROPOSER DETAILS</span><br></h3>

<table border="2" cellpadding="5px" cellspacing="5px">


        {% for v in proposertb %}
<tr><th>Proposertname 1</th><td>{{v.pname1}}</td></tr>
    <tr><th>Voter ID of Proposer 1</th><td>{{v.voterid1}}</td></tr>
    <tr><th>Proposertname 2</th><td>{{v.pname2}}</td></tr>
    <tr><th>Voter ID of Proposer 2</th><td>{{v.voterid2}}</td></tr>
        {% endfor%}
    </table>
    <br><br>
    <h3>CANDIDATE <span>WORK DETAILS</span><br></h3>

<table border="2" cellpadding="5px" cellspacing="5px">


        {% for v in addprofile %}
    <tr><th>Qualification</th><td>{{v.qualification}}</td></tr>
    <tr><th>Work 1</th><td>{{v.work1}}</td></tr>
    <tr><th>Work 1 Photo</th><td><img src="{{v.work1photo.url}}" alt="image" length="50px" width="155px"/> </td></tr>


     <tr><th>Work 2</th><td>{{v.work2}}</td></tr>
     <tr><th>Work 2 Photo</th><td><img src="{{v.work2photo.url}}" alt="image" length="50px" width="155px"/> </td></tr>



     <tr><th>Work 3</th><td>{{v.work3}}</td></tr>
     <tr><th>Work 3 Photo</th><td><img src="{{v.work3photo.url}}" alt="image" length="50px" width="155px"/> </td></tr>



     <tr><th>Achievements</th><td>{{v.achievements}}</td></tr>
        {% endfor%}
    </table>

    <td><input type="submit" name="approve" value="APPROVE" class="btn cryptos-btn btn-2 mt-30"></td> <td><input type="submit" name="reject" value="REJECT" class="btn cryptos-btn btn-2 mt-30"></td>
    {% else %}
    list is empty
    {% endif %}




    </form>
	</div>
	</div>

{% endblock %}