{% extends 'voter/view_base.html'%}

{% block content %}
<div class="col-12 col-lg-6">
                    <div class="contact-form-area mb-100">
<h3>VIEW <span>CANDIDATES WORKS</span></h3>

<table border="2" cellpadding="5px" cellspacing="5px">
{% if data %}

    {% for v in data %}

    <tr><th>Qualification</th><td>{{v.qualification}}</td></tr>

    <tr> <th>Work 1</th><td>{{v.work1}}</td></tr>

    <tr> <th>Work 1 photo</th><td><img src="{{v.work1photo.url}}" alt="image" length="50px" width="55px"/> </td></tr>

    <tr> <th>Work 2</th> <td>{{v.work2}}</td></tr>

    <tr><th>Work 2 Photo</th> <td><img src="{{v.work2photo.url}}" alt="image" length="50px" width="55px"/></td></tr>

    <tr><th>Work 3</th><td>{{v.work3}}</td></tr>

    <tr> <th>Work 3 photo</th><td><img src="{{v.work3photo.url}}" alt="image" length="50px" width="55px"/></td></tr>

    <tr><th>Achievements</th><td>{{v.achievements}}</td></tr>


{% endfor %}
    {% else %}
    list is empty
    {% endif %}
</table>

</div>
</div>
{% endblock %}