{% extends 'voter/view_base.html' %}
{% block content %}

{% if data %}
    
    {% for v in data %}
	

				<div class="single-blog-area d-flex align-items-start">
                            <!-- Thumbnail -->
							
                            <div class="blog-thumbnail">
							
                                <img src="{{v.photo.url}}" alt="" width="200px" height="250px">
                            </div>
							
                            <!-- Content -->
                            <div class="blog-content">
                                <h3 class="post-title">{{v.candidateregisterid.firstname}} {{v.candidateregisterid.lastname}}</h3>
                                <div class="meta-data">
								 <a href="#">Party: {{v.candidateregisterid.partyid.partyname}}</a> <br>
                                    <!-- <a href="#">Adhar No: {{v.candidateregisterid.adharno}}</a> <br>
                                   <a href="#">VoterID No: {{v.candidateregisterid.voterid}}</a> -->
                                </div>
                               
								<div class="single-blog-area blog-style-3 d-flex align-items-center mb-15">
                            <div class="blog-thumbnail">
							
                                <img src="{{v.candidateregisterid.symbol.symbol.url}}" alt="" width="200px" height="450px">
                            </div>
							</div>
                            </div>
							
                        </div>
						  <div class="single-price-table d-flex align-items-center justify-content-between">
                            <div class="p-content d-flex align-items-center">
                                <span>{{forloop.counter}}</span>
                                <img src="/static/cryptos-master/img/bg-img/nem.png" alt="">
                                <p>{{v.candidateregisterid.firstname}} <span>{{v.candidateregisterid.lastname}}</span></p>, {{v.candidateregisterid.partyid.partyname}}
                            </div>
                            <div class="price increase">
                                <a href="{% url 'processingVisualCrypto' v.id %}" class="btn cryptos-btn mt-30"><b>Vote Now</b></a>
                            </div>
                        </div>
							<hr>
{% endfor %}
    {% else %}
    list is empty
    {% endif %}
	
	{% ifequal msg 'done' %}
	<script type="text/javascript">
	alert("Vote has been done already");
	
	</script>
	{% endifequal %}

{% ifequal msg 'success' %}
	<script type="text/javascript">
	alert("Voting has been completed successfully");
	
	</script>
	{% endifequal %}
{% ifequal msg 'exceeded' %}
	<script type="text/javascript">
	alert("Time exceeded Voting cannot be done ");
	
	</script>
	{% endifequal %}

{% ifequal msg 'invalid' %}
	<script type="text/javascript">
	alert("Invalid Image Share ");
	
	</script>
	{% endifequal %}

{% ifequal msg 'Network_Error' %}
	<script type="text/javascript">
	alert("Some Network Error Occured!!!!! ");

	</script>
	{% endifequal %}


{% endblock %}