{% extends 'voter/base.html'%}

{% block content %}


<script type="text/javascript">
		function validation()
		{
			///var alpha=/^[a-zA-Z]+$/;
			//var num=/^[0-9]+$/;

			var alphanum=/^(?=.*[a-zA-Z])(?=.*[0-9])/; //atleast one digit

			//var email=/^[\w\-\.\+]+\@[a-z A-Z 0-9\.\-]+\.[a-z A-Z 0-9]{2,4}$/;

			var cpswd=document.changepswd.currentpswd;
			var npswd=document.changepswd.newpswd;
			var confirmpswd=document.changepswd.confirmpswd;

			if(cpswd.value.length==0)
			{
				alert("Please Enter your current Password" );
				cpswd.focus();
				return false;
			}
			else if(!cpswd.value.match(alphanum))
			{
				alert("Password Contain Letters and Numbers");
				cpswd.focus();
				return false;
			}
			else if((cpswd.value.length<8)||(cpswd.value.length>8))
			{
				alert("Password Contain length 8");
				cpswd.focus();
				return false;
			}
			if(npswd.value.length==0)
			{
				alert("Please Enter your New Password" );
				npswd.focus();
				return false;
			}
			else if(!npswd.value.match(alphanum))
			{
				alert("Password Contain Letters and Numbers");
				npswd.focus();
				return false;
			}
			else if((npswd.value.length<8)||(npswd.value.length>8))
			{
				alert("Password Contain length 8");
				npswd.focus();
				return false;
			}
			if(confirmpswd.value.length==0)
			{
				alert("Please Confirm your New Password" );
				confirmpswd.focus();
				return false;
			}
			else if(!confirmpswd.value.match(alphanum))
			{
				alert("Password Contain Letters and Numbers");
				confirmpswd.focus();
				return false;
			}
			else if((confirmpswd.value.length<8)||(confirmpswd.value.length>8))
			{
				alert("Password Contain length 8");
				confirmpswd.focus();
				return false;
			}
			if(!(npswd.value==confirmpswd.value))
			{
			alert("password are missmatched, Try again");
			return false;
			}


			else
			{
			return true;
			}
		}



</script>

<div class="col-12 col-lg-6">
                    <div class="contact-form-area mb-100">
<h3>CHANGE <span>PASSWORD</span><br></h3>
<form method="post"  name="changepswd" action="{% url 'voter_change_password_action' %}" enctype="multipart/form-data">
{% csrf_token %}

Current Password:<input type="password" name="currentpswd" class="form-control" style="height:50px">

New Password:<input type="password" name="newpswd" class="form-control" style="height:50px">

Confirm Password:<input type="password" name="confirmpswd" class="form-control" style="height:50px">

<input type="submit" value="CHANGE" class="btn cryptos-btn btn-2 mt-30" onclick="return validation()">
    {% if msg %}
{{msg}}
{% endif %}

</form>

</div>
</div>
{% endblock %}